@import url(https://fonts.googleapis.com/css?family=Alegreya+Sans);

.modal {
  display: none; 
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #161f27;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.dropdown {
  position: relative;
  display: inline-block;
  width: 40%;
}

.drop {
	cursor: no-drop;
}

.add {
	cursor: crosshair;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #000000;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #222;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: #0080ff;}

.mfp-iframe-holder{
	display: flex;
    justify-content: center;
    align-items: center;
}

LABEL.indented-checkbox-text
{
  margin-left: 2em;
  display: block;
  position: relative;
  margin-top: -1.4em;  /* make this margin match whatever your line-height is */
  line-height: 1.4em;  /* can be set here, or elsewehere */
}

.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 150px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
  bottom: 110%;
  left: 50%;
  margin-left: -75px; /* Use half of the width (120/2 = 60), to center the tooltip */
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

body {
	max-width: 95%;
	font-family: 'Alegreya Sans';	
	margin-bottom:50px;
}

@-webkit-keyframes fontfix {
    from { opacity: 1; }
    to   { opacity: 1; }
}

td {
	white-space: pre-line;
}

th
[
role
=
columnheader
]
:not
 
(
.no-sort
 
)
{
cursor
:
 
pointer
;


}
th[role=columnheader]:not (.no-sort ):after {
	content: '';
	float: right;
	margin-top: 7px;
	border-width: 0 4px 4px;
	border-style: solid;
	border-color: #DDDDDD transparent;
	visibility: hidden;
	opacity: 0;
	-ms-user-select: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
}

th[aria-sort=ascending]:not (.no-sort ):after {
	border-bottom: none;
	border-width: 4px 4px 0;
}

th[aria-sort]:not (.no-sort ):after {
	visibility: visible;
	opacity: 0.4;
}

th[role=columnheader]:not (.no-sort ):hover:after {
	visibility: visible;
	opacity: 1;
}

.uhoh {
	color: red;
}

.ahhh {
	color: green;
}

.onoffswitch {
	position: relative;
	width: 86px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
}

.onoffswitch-checkbox {
	position: absolute;
	opacity: 0;
	pointer-events: none;
}

.onoffswitch-label {
	display: block;
	overflow: hidden;
	cursor: pointer;
	border: 2px solid #999999;
	border-radius: 50px;
}

.onoffswitch-inner {
	display: block;
	width: 200%;
	margin-left: -100%;
	transition: margin 0.3s ease-in 0s;
}

.onoffswitch-inner:before, .onoffswitch-inner:after {
	display: block;
	float: left;
	width: 50%;
	height: 24px;
	padding: 0;
	line-height: 24px;
	font-size: 18px;
	color: white;
	font-family: Trebuchet, Arial, sans-serif;
	font-weight: bold;
	box-sizing: border-box;
}

.onoffswitch-inner:before {
	content: "ON";
	padding-left: 12px;
	background-color: #34A7C1;
	color: #FFFFFF;
}

.onoffswitch-inner:after {
	content: "OFF";
	padding-right: 12px;
	background-color: #EEEEEE;
	color: #999999;
	text-align: right;
}

.onoffswitch-switch {
	display: block;
	width: 31px;
	margin: -3.5px;
	background: #FFFFFF;
	position: absolute;
	top: 0;
	bottom: 0;
	right: 58px;
	border: 2px solid #999999;
	border-radius: 50px;
	transition: all 0.3s ease-in 0s;
}

.onoffswitch-checkbox:checked+.onoffswitch-label .onoffswitch-inner {
	margin-left: 0;
}

.onoffswitch-checkbox:checked+.onoffswitch-label .onoffswitch-switch {
	right: 0px;
}

footer {
    position: fixed;
    height: 50px;
    background-color: #161f27;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin-bottom: 0px;
    padding-left: 20px;
    padding-right: 20px;
}

#clearHistory {
	float: right;
	cursor: pointer;
}

* {
  box-sizing: border-box;
}

/* Create two equal columns that floats next to each other */
#column1 {
  float: left;
  width: 100%;
}

#column2 {
  float: left;
  width: 0%;
  height: 94.5%;
  position: fixed;
  right: 0px;
  top: 0px;
  display: none;
}

.row {
	// display: flex;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

