@import url(https://fonts.googleapis.com/css?family=Alegreya+Sans);

body {
	max-width: 90%;
	font-family: 'Alegreya Sans';	
}

@-webkit-keyframes fontfix {
    from { opacity: 1; }
    to   { opacity: 1; }
}

th
[
role
=
columnheader
]
:not
 
(
.no-sort
 
)
{
cursor
:
 
pointer
;


}
th[role=columnheader]:not (.no-sort ):after {
	content: '';
	float: right;
	margin-top: 7px;
	border-width: 0 4px 4px;
	border-style: solid;
	border-color: #DDDDDD transparent;
	visibility: hidden;
	opacity: 0;
	-ms-user-select: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
}

th[aria-sort=ascending]:not (.no-sort ):after {
	border-bottom: none;
	border-width: 4px 4px 0;
}

th[aria-sort]:not (.no-sort ):after {
	visibility: visible;
	opacity: 0.4;
}

th[role=columnheader]:not (.no-sort ):hover:after {
	visibility: visible;
	opacity: 1;
}

.uhoh {
	color: red;
}

.ahhh {
	color: green;
}

.onoffswitch {
	position: relative;
	width: 86px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
}

.onoffswitch-checkbox {
	position: absolute;
	opacity: 0;
	pointer-events: none;
}

.onoffswitch-label {
	display: block;
	overflow: hidden;
	cursor: pointer;
	border: 2px solid #999999;
	border-radius: 50px;
}

.onoffswitch-inner {
	display: block;
	width: 200%;
	margin-left: -100%;
	transition: margin 0.3s ease-in 0s;
}

.onoffswitch-inner:before, .onoffswitch-inner:after {
	display: block;
	float: left;
	width: 50%;
	height: 24px;
	padding: 0;
	line-height: 24px;
	font-size: 18px;
	color: white;
	font-family: Trebuchet, Arial, sans-serif;
	font-weight: bold;
	box-sizing: border-box;
}

.onoffswitch-inner:before {
	content: "ON";
	padding-left: 12px;
	background-color: #34A7C1;
	color: #FFFFFF;
}

.onoffswitch-inner:after {
	content: "OFF";
	padding-right: 12px;
	background-color: #EEEEEE;
	color: #999999;
	text-align: right;
}

.onoffswitch-switch {
	display: block;
	width: 31px;
	margin: -3.5px;
	background: #FFFFFF;
	position: absolute;
	top: 0;
	bottom: 0;
	right: 58px;
	border: 2px solid #999999;
	border-radius: 50px;
	transition: all 0.3s ease-in 0s;
}

.onoffswitch-checkbox:checked+.onoffswitch-label .onoffswitch-inner {
	margin-left: 0;
}

.onoffswitch-checkbox:checked+.onoffswitch-label .onoffswitch-switch {
	right: 0px;
}